    body {
    margin: 0;
    font-family: sans-serif;
}

p.options label {
    margin-right: 10px;
}

p.options input[type=checkbox] {
    vertical-align: middle;
}

textarea#configuration {
    width: 100%;
    height: 200px;
}

.step {
    display: none;
}

#step1 {
    display: block;
}

pre#json-renderer {
    border: 1px solid #aaa;
}

#configuration {
    width: 100%;
    height: 300px;
}

#controller {
    position: relative;
    top: 1%;
    left: 0.5%;
    width: 99%;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    border-radius: 2px;
}

#controller .input-box {
    position: relative;
    padding: 0 30px 0 0;
}

#controller .input-box input {
    width: 100% !important;
    max-width: 100% !important;
    padding: 10px 12px 6px;
    font-size: 1em;
    color: #31363d;
    margin-bottom: 30px;
    font-family: 'calibri';
    border: none;
    border-bottom: 1px solid #242f45;
    outline: none;
    background: transparent;
}

#controller .input-box input.content.message {
    height: 28px;
    padding: 6px 12px 6px 10px;
    margin: 10px 0 30px 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

#controller .input-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 13px;
    color: #303134;
    pointer-events: none;
    transition: .5s;
}

.photo_label {
    color: #537ab9;
    font-weight: 500;
}

#controller .input-box input::placeholder {
    opacity: 0.5;
    font-size: .9em;
    padding: 0 0 0 5.5em;
}

#controller .input-box input:focus~label,
#controller .input-box input:valid~label {
    top: -23px;
    left: 0;
    color: #1988e3;
    font-size: 15px;
    font-weight: bold;
}

.step h1,
.step h2,
.step h3 {
    font-family: 'calibri';
    color: #034073;
    margin: 5px 0 10px 10px;
}

.step h1 {
    font-size: 1.5em;
}

.step h2 {
    font-size: 1.3em;
}

.step h3 {
    font-size: 1.2em;
}

#send-request {
    background-color: #0a6bff;
    border-radius: 4px;
    border: 0;
    box-shadow: rgba(70, 76, 84, 0.5) 0 -1px 3px 0 inset, rgba(36, 38, 42, 0.1)) 0 3px 6px 0;
    box-sizing: border-box;
    color: #fff;
    float: right;
    cursor: pointer;
    display: inherit;
    font-family: "Space Grotesk", -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    margin: 0;
    min-height: 36px;
    min-width: 86px;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

#send-request:hover {
    background-color: #065dd8;
    transform: translateY(-2px);
}

#send-request:disabled {
    background-color: dimgrey;
    color: linen;
    opacity: 1;
}

#send-request:disabled:hover {
    transform: translateY(0);
}

@media (min-width: 86px) {
    #send-request {
        padding: 5px 10px;
        min-width: 90px;
    }
}

#controller form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #1988e3;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.hidden,
.btn-primary.next-btn.multi-view-wizard-next {
    display: none;
}

.btn-bar {
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
}

#preview-frame {
    margin: 20px 0;
    border-radius: 2px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    .chat__body {
        display: flex;
        width: 100%;
        height: 100%;
        background-image: url(../images/patterns/telegram-background_0.png);
        background-color: #565656;
        background-attachment: fixed;
        background-size: 25%;
    }
    .messages {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: flex-end;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 6px;
    }
    .chat__loader {
        flex-grow: 1;
        display: flex;
        align-self: center;
        justify-content: center;
        user-select: none;
    }
    .chat__loader .spinner {
        position: relative;
        width: 30px;
        height: 30px;
        background-color: rgba(38, 50, 56, .5);
        border-radius: 50%;
        align-self: center;
    }
    .chat__loader .spinner:after {
        position: absolute;
        left: 4px;
        top: 4px;
        display: block;
        content: '';
        width: 22px;
        height: 22px;
        border-left-color: #fff;
        border-right-color: transparent;
        border-top-color: transparent;
        border-bottom-color: transparent;
        border-radius: 50%;
        border-width: 3px;
        border-style: solid;
        animation: spin .8s linear infinite;
    }
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    .message {
        align-self: flex-start;
        display: flex;
        align-items: center;
        position: relative;
        min-height: 30px;
        max-width: 420px;
        background-color: #fff;
        margin-bottom: 8px;
        border-radius: 6px;
        z-index: 2;
        box-shadow: 0 2px 1px 0 rgba(160, 172, 182, .5);
    }
    .message.my-message {
        align-self: flex-end;
        background-color: #effdde;
        box-shadow: 0 2px 1px 0 rgba(93, 196, 82, .5);
    }
    .message.droplet:before {
        position: absolute;
        content: '';
        bottom: 0;
        left: -8px;
        width: 12px;
        height: 1px;
        background-color: inherit;
        z-index: 1;
        box-shadow: 0px 1px 1px 1px rgba(160, 172, 182, .5);
    }
    .message.droplet:after {
        position: absolute;
        content: '';
        bottom: 0;
        left: -10px;
        width: 16px;
        height: 10px;
        clip-path: url(#left-droplet);
        background-color: inherit;
        z-index: 1;
        box-shadow: 0 2px 1px 0 rgba(160, 172, 182, .5);
    }
    .message.my-message.droplet:before {
        right: -8px;
        left: initial;
        box-shadow: 0px 1px 1px 1px rgba(93, 196, 82, .5);
    }
    .message.my-message.droplet:after {
        right: -10px;
        left: initial;
        clip-path: url(#right-droplet);
    }
    .message__text,
    .message__image__text .message__text__content {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        z-index: 2;
    }
    .message__image,
    .message__image__text {
        position: relative;
        z-index: 2;
    }
    .message__image {
        border-radius: 6px;
    }
    .message__image__content {
        border-radius: 6px;
        margin-bottom: -3px;
        max-width: 100%;
    }
    .message__time {
        display: inline-block;
        float: right;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 14px;
        text-align: right;
        font-size: 12px;
        color: #a0acb6;
    }
    .my-message .message__time {
        color: #5dc452;
    }
    .message__image .message__time {
        display: block;
        float: initial;
        position: absolute;
        bottom: 4px;
        right: 4px;
        padding: 4px;
        color: #fff;
        background-color: rgba(38, 50, 56, .5);
        border-radius: 6px;
        transition: opacity .2s linear;
        opacity: 0;
    }
    .message__image:hover .message__time {
        opacity: 1;
    }